body{
	background-image: url(l_gin_tuki01.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
}

.gazou{
	text-align: center;
}

#text-class{
	color:#ff0000;
}

#kunren {
	color:#0000ff;
}

main p{
	color: #000000;
}

/*div{
	border:3px double #ff0000;
	width: 500px;
	height: 500px;
	text-align: center}*/

.outer-box{
	border:3px double #ff0000;
	width: 80%;
	/*height: 500px;*/
	text-align: center;
	background: #eeeeee;
	margin: 10px auto 10px auto;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	opacity: 0.5;
}

.inner-box {
	border:2px solid #666666;
	width: 20%;
	height:200px;
	background: #f6f6f6;
	float: left;
	margin:5px 5px 5px 5px;

/*
	margin:10px auto 10px;/*順番に上左右下
	margin: 10px;/*四方向まとめて
	margin: 10px 12px;/*最初が上下最後が左右
	margin: 10px 8px 10px;/*最初が上真ん中が左右最後が下

	padding: 20px 20px 20px 20px;
*/
}

.clear{clear:both;}

.section-box{
	width:80%;
	margin:10px auto 10px auto;
	border:2px dotted #444444;
	background: #eeeeee;
	display: table;
	opacity: 0.5;
}

.article-box{
	border:1px solid #888888;
	height:200px;
	display: table-cell;
}

.position-wrapper{
	width:80%;
	margin: 12px auto;
	border: 1px solid #333333;
}

.css-position , .no-position{
	width: 200px;
	height: 200px;
	border: 1px solid #666666;
}

.css-position{
	background: #eeddee;
	position: relative;
	top: 50px;
	left: 50px;
	z-index: 2;
}

.no-position{
	background: #663333;
	position: relative;
	bottom: 10px;
	left: 10px;
	z-index: 1;
}

ul , ol {
	list-style-type:none;
	width:80%;
	margin: auto;
	padding: 0;
	display: table;
}

ul li{display: table-cell;
	margin:0;
	background: #666666;
	width:25%;
	text-align: center;
	padding:5px 0;
	border:1px solid #ffffff;
	box-sizing:border-box;
}

ul li:first-child{border-radius: 10px 0 0 10px}

ul li:last-child{border-radius: 0 10px 10px 0}

ol li{display: table-cell;
	margin: 0 ;
	background: #55ff00;
	width: 20%;
	text-align: center;
	padding: 5px 0;
	border:1px solid #ffffff;
	box-sizing:border-box;
	}

ol li:first-child{border-radius: 10px 0 0 10px}

ol li:last-child{border-radius: 0 10px 10px 0}

a{color: #ffff00}

a:hover{
	color:#00ffff;
}

a:visited{
	color: #888888;
}

a:active{
	background: #000000;
	color: #ffffff;
}

table{
	border:1px solid #666666;
	/*-webkit-border-radius: 40px 30px 20px 10px;
	-moz-border-radius: 40px 30px 20px 10px;*/
	border-radius: 40px;
	width: 80%;
	margin: 10px auto;
	box-shadow: 10px 10px 3px #cccccc;
}

table thead tr th{
	background:-webkit-gradient(linear , left top bottom , from(#ffffff) ,to(#dfdfdf));
	background:-webkit-linear-gradient(#777777 0% , #444444 50% , #333333 51% , #555555 100%);
	font-weight: normal;
	font-size: 20px;
	border:1px solid #888888;
	opacity: 0.9;
	color: #ffffff;
}

td{text-align: center;}

tr:nth-child(2n){
	/*background: #e500e5;*/
}

thead tr th:first-child{
	-webkit-border-radius:40px 0 0 0;
	-moz-border-radius:40px 0 0 0;
	border-radius: 40px 0 0 0;
	opacity: 0.9;
}

thead tr th:last-child{
	-webkit-border-radius:0 40px 0 0;
	-moz-border-radius:0 40px 0 0;
	border-radius:0 40px 0 0;
	opacity: 0.9;
}

tbody tr th{
	background: #777777;
	font-weight: normal;
	font-size: 20px;
	border:1px solid #888888;
	opacity: 0.9;
}

.last{
	-webkit-border-radius:0 0 0 40px;
	-moz-border-radius:0 0 0 40px;
	border-radius: 0 0 0 40px;
}

.last-2{
	-wedkit-border-radius:0 0 40px 0;
	-moz-border-radius:0 0 40px 0;
	border-radius: 0 0 40px 0;
}

tbody tr td{
	background: #dfdfdf;
	font-weight: normal;
	font-size: 20px;
	border:1px solid #888888;
	opacity: 0.9;
}

td , th {
	/*border:1px solid #dddddd;*/
}

//.tr-background{
	background: #666666
}

caption{
	font-weight: bold;
	font-size: 24px;
	text-decoration: underline;
}

a{text-decoration: none;
}

.form-ichiran{width: 70%;
		line-height: 5px;
	}

h2::before , h2::after{
	content: "☆";
	color: #ff0000
}

input[type="text"]{
	box-shadow: 2px 2px 2px #cccccc inset;
}